body {
    font-family: Arial, sans-serif;
    margin: 1000;
    padding: 0;
    background-color: #740000;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}
