<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/header.css ">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="stylesheet" href="/assets/css/education.css">
    <link rel="stylesheet" href="/assets/css/skills.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <!--Box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- End Box icons-->
</head>

<body>
    <!-- Header Design-->
    <header class="header">

        <a href="#" class="logo">𐰲𐰀𐰼𐰺𐰀𐰴</a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <!--End Header Design-->

    <!-- Home section design-->
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>Cerrah</span></h1>
            <div class="text-animate">
                <h3>Entrepreneur</h3>
            </div>
            <p>Driven entrepreneur, currently honing my technical prowess in Computer Engineering. Thriving in the
                intersection of innovation and strategy, I leverage my skills to turn vision into reality. Let's shape
                the future together.
            </p>

            <div class="btn-box">
                <a href="#contact" class="btn">Let's Talk</a>
            </div>
        </div>

        <div class="home-sci">
            <a href="https://www.instagram.com/harrec120/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/acerrah/"><i class='bx bxl-linkedin'></i></a>
            <a href="https://cerrah.blog"><i class='bx bxl-wordpress'></i></a>
        </div>
        <!--<div class="home-immgHover"></div>-->
    </section>
    <!-- End Home section design-->


    <!-- About section design-->
    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span></h2>

        <div class="about-img">
            <img src="/assets/image/photo_small.jpg" alt="">
            <span class="circle-spin"></span>
        </div>

        <div class="about-content">
            <h3>Ali Erdem Cerrah</h3>
            <p>
                My journey into the world of technology began in high school, when I started working on autonomous
                vehicles and robotics. The thrill and excitement of engaging with such advanced technologies sparked a
                deep-rooted passion within me, leading me to pursue a degree in Computer Engineering. Now I find myself
                studying at Üsküdar University and 42 Ecole, where I'm not just focusing on academic learning, but
                actively developing my software skills.

                In addition to my personal growth, I am a firm believer in the power of teamwork and entrepreneurship.
                Alongside a dedicated team, I'm working on a multitude of products and projects for our own start-ups.

                In essence, my journey is a testament to the convergence of passion, knowledge, and collaboration. Every
                day, we're pushing boundaries, creating, innovating, and shaping the future of technology.

            </p>

        </div>
    </section>
    <!-- End About section design-->

    <!-- Education section design-->
    <section class="education" id="education">
        <h2 class="heading">My <span>Journey</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>
                <div class="education-box">

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>
                                2017 - 2022</div>
                            <h3>Mesafe Fen ve Teknoloji Lisesi</h3>
                            <p>
                                At Mesafe Science and Technology High School, I enriched my English proficiency during
                                the preparatory year. Concurrently, I honed my software skills by participating in
                                autonomous vehicle and robotics competitions, fostering a strong foundation in
                                innovation and practical application.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>
                                2022</div>
                            <h3>Üsküdar Üniversitesi - University</h3>
                            <p>Pursuing my Computer Engineering degree at Uskudar University, I have successfully
                                completed my first year, diving into the technical intricacies of the field and eagerly
                                anticipating the knowledge yet to be gained.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>
                                2022</div>
                            <h3>42 Ecole - School</h3>
                            <p>Continuing my education journey at 42, the renowned coding school, I am further
                                developing my technical skills while embracing the challenges and opportunities that
                                come with it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="education-column">
                <h3 class="title">Experience</h3>
                <div class="education-box">

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>
                                2022 - 2023</div>
                            <h3>Embedded Engineer - Istanbul Ensis Robotic Team</h3>
                            <p>
                                As an Embedded Systems Engineer with Istanbul Ensis Robotics team, I contributed to the
                                development of an underwater vehicle for Technofest. This experience enhanced my
                                practical understanding and innovative application of technology.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
    </section>
    <!-- End Education section design-->


    <!-- Skills section design-->
    <section class="skills" id="skills">
        <h2 class="heading">My <span>Skills</span></h2>

        <div class="skills-row">

            <div class="skills-column">
                <h3 class="title">Engineering Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">

                        <div class="progress">
                            <h3>C <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>C++ <span>50%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Python <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Linux Systems <span>60%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Network Management <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Embedded Engineering <span>60%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="skills-column">
                <h3 class="title">Personal Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">

                        <div class="progress">
                            <h3>Leadership <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Risk Management <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Financial Literacy <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Algorithmic Thinking <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Project Management <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Graphic Design <span>50%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Skills section design-->

    <!-- Contact section design-->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="btn-box btns">
                <button type="submit" class="btn" onclick="window.location.href='mailto:cerrahalierdem@gmail.com?subject=Hi!&body=Text';">Send Mail</button>
            </div>
        </form>
    </section>
    <!-- End Contact section design-->


    <!-- Footer design-->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Ifmai | All Rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- End Footer design-->
</body>

</html>